[versions]
kotlin = "1.6.21"
coroutines = "1.6.1"
serialization = "1.3.2"
minecraft = "1.19"
quilt_mappings = "1.19+build.1"
quilt_loader = "0.17.0-beta.3"
qsl = "2.0.0-beta.2+1.19"

[libraries]
minecraft = { module = "com.mojang:minecraft", version.ref = "minecraft" }
quilt_mappings = { module = "org.quiltmc:quilt-mappings", version.ref = "quilt_mappings" }
quilt_loader = { module = "org.quiltmc:quilt-loader", version.ref = "quilt_loader" }
qsl = { module = "org.quiltmc:qsl", version.ref = "qsl" }
coroutines_core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
coroutines_jvm = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm", version.ref = "coroutines" }
coroutines_jdk8 = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-jdk8", version.ref = "coroutines" }
serialization_core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core-jvm", version.ref = "serialization" }
serialization_json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json-jvm", version.ref = "serialization" }
serialization_cbor = { module = "org.jetbrains.kotlinx:kotlinx-serialization-cbor-jvm", version.ref = "serialization" }

[plugins]
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
quilt_loom = { id = "org.quiltmc.loom", version = "0.12.+" }
quilt_licenser = { id = "org.quiltmc.gradle.licenser", version = "1.1.+" }
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.20.0" }