[versions]
atomic = "0.21.0"
collections_immutable = "0.3.5"
coroutines = "1.7.2"
datetime = "0.4.0"
dokka = "1.8.20"
klogging = "5.1.0"
kotlin = "1.9.0"
minecraft = "1.20.1"
qsl = "6.0.4+1.20.1"
quilt_loader = "0.19.2"
quilt_mappings = "1.20.1+build.21"
serialization = "1.5.1"
serialization_minecraft = "2.0.0+1.20.1"
serialization_plugin = "1.9.0" # usually same as kotlin but can lag behind
binary_compat_plugin = "0.13.2"

[libraries]
atomic = { module = "org.jetbrains.kotlinx:atomicfu-jvm", version.ref = "atomic" }
collections_immutable = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable-jvm", version.ref = "collections_immutable" }
coroutines_core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
coroutines_jdk8 = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-jdk8", version.ref = "coroutines" }
coroutines_jvm = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm", version.ref = "coroutines" }
datetime = { module = "org.jetbrains.kotlinx:kotlinx-datetime-jvm", version.ref = "datetime" }
klogging = { module = "io.github.oshai:kotlin-logging-jvm", version.ref = "klogging" }
dokka_base = { module = "org.jetbrains.dokka:dokka-base", version.ref = "dokka" }
minecraft = { module = "com.mojang:minecraft", version.ref = "minecraft" }
qsl = { module = "org.quiltmc:qsl", version.ref = "qsl" }
quilt_loader = { module = "org.quiltmc:quilt-loader", version.ref = "quilt_loader" }
quilt_mappings = { module = "org.quiltmc:quilt-mappings", version.ref = "quilt_mappings" }
serialization_cbor = { module = "org.jetbrains.kotlinx:kotlinx-serialization-cbor-jvm", version.ref = "serialization" }
serialization_core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core-jvm", version.ref = "serialization" }
serialization_json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json-jvm", version.ref = "serialization" }
serialization_minecraft = { module = "io.github.natanfudge:kotlinx-serialization-minecraft", version.ref = "serialization_minecraft" }

[plugins]
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.23.0" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
git_hooks = { id = "com.github.jakemarsden.git-hooks", version = "0.0.2" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
licenser = { id = "org.quiltmc.gradle.licenser", version = "2.0.1" }
quilt_loom = { id = "org.quiltmc.loom", version = "1.+" }
serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "serialization_plugin" }
binary_compatibility = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "binary_compat_plugin" }
minotaur = { id = "com.modrinth.minotaur", version = "2.8.1" }
cursegradle = { id = "com.matthewprenger.cursegradle", version = "1.4.0" }
