[versions]
atomic = "0.19.0"
coroutines = "1.6.4"
datetime = "0.4.0"
dokka = "1.7.20"
kotlin = "1.8.10"
minecraft = "1.19.3"
qsl = "4.0.0-beta.9+1.19.3"
quilt_loader = "0.18.3"
quilt_mappings = "1.19.3+build.5"
serialization = "1.4.1"
serialization_plugin = "1.8.10" # usually same as kotlin but can lag behind
binary_compat_plugin = "0.13.0"

[libraries]
atomic = { module = "org.jetbrains.kotlinx:atomicfu-jvm", version.ref = "atomic" }
coroutines_core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
coroutines_jdk8 = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-jdk8", version.ref = "coroutines" }
coroutines_jvm = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm", version.ref = "coroutines" }
datetime = { module = "org.jetbrains.kotlinx:kotlinx-datetime-jvm", version.ref = "datetime" }
dokka_base = { module = "org.jetbrains.dokka:dokka-base", version.ref = "dokka" }
minecraft = { module = "com.mojang:minecraft", version.ref = "minecraft" }
qsl = { module = "org.quiltmc:qsl", version.ref = "qsl" }
quilt_loader = { module = "org.quiltmc:quilt-loader", version.ref = "quilt_loader" }
quilt_mappings = { module = "org.quiltmc:quilt-mappings", version.ref = "quilt_mappings" }
serialization_cbor = { module = "org.jetbrains.kotlinx:kotlinx-serialization-cbor-jvm", version.ref = "serialization" }
serialization_core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core-jvm", version.ref = "serialization" }
serialization_json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json-jvm", version.ref = "serialization" }

[plugins]
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.22.0" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
git_hooks = { id = "com.github.jakemarsden.git-hooks", version = "0.0.2" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
licenser = { id = "org.quiltmc.gradle.licenser", version = "1.2.0" }
quilt_loom = { id = "org.quiltmc.loom", version = "1.+" }
serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "serialization_plugin" }
binary_compatibility = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "binary_compat_plugin" }
